header {

    height: 20vh
}




.grid-container {
    
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: auto;
    width: 30vw;
    grid-gap: 1vw;
    background-color: #717786 ;
    border: 1vw solid #717786 ;
    border-radius: 3%;
    box-shadow: 0 0 2vw 2vw rgba(0,0,0,0.59);
  }
 
  
  .grid-container > button:active {
    position:relative;
    top:1px;
  }
  
          
  .grid-container > button {
    
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
    background-color:#ededed;
    border-radius:100%;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#777777;
    font-family:Arial;
    font-size: 3vw;
    font-weight:bold;
    padding:1vw;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
    height: 6vw;
    width: 6vw;
  }

  .grid-container > button:hover {

    
    color: white;
    

  }

  
  
  
  #p1 {
   
    
    font-size: 5vw;
    
    text-align: right;
    margin-right: 5%;
    
  
  }

  #p2  { 
    
    font-size: 5vw;
    text-align: left;
    line-height: 0;
    margin-left: 5%;

  }

  
   #item1 {


    height: 15vh;
    
    
    
    grid-column: 1 / 5;
    color:#777777;
    font-family:Arial;
    font-weight:bold;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
    
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
    background-color:#ededed;
    border-radius:6px;
    border:1px solid #dcdcdc;
    
   
  }

  #item21 {
      
    background: #7afd3d;
    
}
 

  #item5, #item9, #item13, #item16, #item17, #item18, #item19, #item20 {
        
        background:#99ff99;
           
    }

 